<?xml version="1.0"?>
<launch>
    <node name="full_map" pkg="map_server" type="map_server" args="$(find explore_percent)/map/map.yaml" >
        <remap from="map" to="full_map"/>
        <remap from="map_metadata" to="full_map_metadata"/>
    </node>
    <node name="occupy_percent" pkg="explore_percent" type="occupy"/>
</launch>
